<Body:>
  <div class="container">
    <div class="row-fluid">
      <form x-bind="submit: day.add" role="form">
        <div class="col-md-3">
          <legend>Initial</legend>
          <div class="form-group">
            <label>Initial cash</label>
            <input type="text" class="form-control" value={_page.newItem.initial.cash}>
          </div>
          <div class="form-group">
            <label>Initial incomes</label>
            <input type="text" class="form-control" value={_page.newItem.initial.incomes}>
          </div>
          <div class="form-group">
            <label>Initial outcomes</label>
            <input type="text" class="form-control" value={_page.newItem.initial.outcomes}>
          </div>
          <div class="form-group">
            <label>Initial balance</label>
            <input disabled type="text" class="form-control" value={_page.newItem.totals.initialBalance}>
          </div>
          <legend>Daily sales</legend>
          <div class="form-group">
            <label>Start bill</label>
            <input type="text" class="form-control" value={_page.newItem.sales.startBill}>
          </div>
          <div class="form-group">
            <label>End bill</label>
            <input type="text" class="form-control" value={_page.newItem.sales.endBill}>
          </div>
          <div class="form-group">
            <label>Sales amount</label>
            <input type="text" class="form-control" value={_page.newItem.sales.amount}>
          </div>
        </div>
        <div class="col-md-3">
          <legend>Daily outcomes</legend>
          <div class="form-group">
            <label>Waybills</label>
            <input type="text" class="form-control" value={_page.newItem.dailyOutcomes.waybills}>
          </div>
          <div class="form-group">
            <label>Invoices</label>
            <input type="text" class="form-control" value={_page.newItem.dailyOutcomes.invoices}>
          </div>
          <div class="form-group">
            <label>With bill</label>
            <input type="text" class="form-control" value={_page.newItem.dailyOutcomes.withBill}>
          </div>
          <div class="form-group">
            <label>Without bill</label>
            <input type="text" class="form-control" value={_page.newItem.dailyOutcomes.withoutBill}>
          </div>
          <div class="form-group">
            <label>Shifts</label>
            <input type="text" class="form-control" value={_page.newItem.dailyOutcomes.shifts}>
          </div>
          <div class="form-group">
            <label>Total</label>
            <input disabled type="text" class="form-control" value={_page.newItem.totals.dailyOutcomes}>
          </div>
        </div>
        <div class="col-md-3">
          <legend>Daily balance</legend>
          <div class="form-group">
            <label>Theoretical</label>
            <input disabled type="text" class="form-control" value={_page.newItem.balance.theoretical}>
          </div>
          <div class="form-group">
            <label>Cash</label>
            <input type="text" class="form-control" value={_page.newItem.balance.cash}>
          </div>
          <div class="form-group">
            <label>Delta</label>
            <input disabled type="text" class="form-control" value={_page.newItem.totals.balanceDelta}>
          </div>
          <div class="form-group">
            <label>Card payments</label>
            <input type="text" class="form-control" value={_page.newItem.balance.cardPayments}>
          </div>
          <div class="form-group">
            <label>Total</label>
            <input disabled type="text" class="form-control" value={_page.newItem.totals.balance}>
          </div>
          <legend>Taxes</legend>
          <div class="form-group">
            <label>IVA</label>
            <input disabled type="text" class="form-control" value={_page.newItem.taxes.IVA}>
          </div>
          <div class="form-group">
            <label>IVA (round)</label>
            <input type="text" class="form-control" value={_page.newItem.taxes.IVARound}>
          </div>
          <div class="form-group">
            <label>Net</label>
            <input type="text" class="form-control" value={_page.newItem.totals.net}>
          </div>
        </div>
        <div class="col-md-3">
          <legend>Finish</legend>
          <div class="form-group">
            <label>Withdrawal</label>
            <input type="text" class="form-control" value={_page.newItem.finish.withdrawal}>
          </div>
          <div class="form-group">
            <label>Cash</label>
            <input disabled type="text" class="form-control" value={_page.newItem.totals.finish}>
          </div>
          <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control">{_page.newItem.note}</textarea>
          </div>
          <div>
            <hr>
            <button type="submit" class="btn btn-lg btn-block btn-primary">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Finish</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            {#each _page.items as :item}
              <tr>
                <td>{{:item.date}}</td>
                <td>{{:item.totals.finish}}</td>
                <td>{{:item.note}}</td>
                <td><button class="btn" x-bind="click: day.remove">Remove</button></td>
              </tr>
            {/}
          </tbody>
        </table>
        <div class="well visits">
          <b>Fun fact:</b> You've visited the list {_page.user.visits} times.
        </div>
      </div>
    </div>
  </div>
