@import 'nib/vendor'
@import './home'
@import './days'
@import './today'

legend
  border none
  font-weight 100
  letter-spacing 1px

label
  font-weight 200
  letter-spacing 1px
  color #333

html, body
  overflow hidden

.container
  margin 0
  max-width 100%

.navbar
  border-radius 0
  margin 0

.main
  border-left 1px solid #eee
  .container
    padding-top 15px
    max-height 575px
    overflow auto

.nav
  &.sidebar
    padding 10px 0
    a
      color #555
      padding 1px 15px
      margin 10px 0
      &:hover
        color #5cb85c
        background-color transparent
    .active
      border-left 3px solid #5cb85c
      border-radius 3px
      font-weight 600
      a
        color #5cb85c

footer
  border-top: 1px solid #eee
  color: #999
  letter-spacing 1px
  font-weight 100
  padding: 9px 20px
